<div class="app">
  <main class="project">
    <div class="project-info">
      <h1>My Task Manager</h1>
      <div class="project-participants">
        <button type="button" class="add_task" (click)="gotoList()">
          Create
        </button>
      </div>
    </div>
    <div class="project-tasks">
      <div class="project-column">
        <div class="project-column-heading">
          <h2 class="project-column-heading__title">Tasks</h2>
          <!-- <button class="project-column-heading__options">
            <i class="fas fa-ellipsis-h"></i>
            
          </button> -->
        </div>
        <div class="task" draggable="true" *ngFor="let task of tasks | async">
          <div class="task__tags">
            <span class="task__tag task__tag--copyright">{{ task.title }}</span>
            <input
              type="checkbox"
              [ngClass]="
                task.status === 'Completed'
                  ? 'statusNone'
                  : 'task__tag task__tag--copyright'
              "
              (click)="statusChange(task.id)"
            />
          </div>
          <p class="task__description">
            {{ task.description }}
          </p>
          <div class="task__stats">
            <span>Due Date :</span>
            <span class="task_dueDate">{{ task.dueDate }}</span>
          </div>
          <div class="task__status">
            <span
              [ngClass]="
                task.status === 'Completed' ? 'status' : 'status_pending'
              "
              >{{ task.status }}</span
            >
          </div>
          <div class="task_action">
            <button class="btn_edit" (click)="updateTask(task.id)">Edit</button>
            <button class="btn_delete" (click)="deleteTask(task.id)">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>

  <aside class="task-details">
    <div class="task-activity">
      <h2>Task Completed</h2>
      <ul>
        <li *ngFor="let task of taskCompletd | async">
          <span class="task-icon task-icon--attachment"></span>
          <b>{{ task.title }} </b><br />
          <p>{{ task.description }}</p>
          <time datetime="2021-11-24T20:00:00">{{ task.dueDate }}</time>
        </li>
      </ul>
    </div>
  </aside>
</div>
